<div class="left_sidebar">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">嫌疑犯<a href="#" class="pull-right">回首页</a></h3>
		</div>
		<div class="panel-body" style="padding-bottom: 0px; min-height: 96px;">
			<% 20.times do %>
		
				<div class="col-xs-12" style="padding-left:0px;padding-right:0px">
					<div class="thumbnail">
						<img data-src="#" alt="" style="height:150px;background: lightblue;">
						<div class="caption">
							<p>嫌疑犯</p>
						</div>
					</div>
				</div>
		
			<% end %>
		</div>
		<div class="panel-footer">
			<form>
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="搜索关键字">
				</div>
			</form>
		</div>
	</div>
</div>

<div class="center_block">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" data-src="#">
				</a>

				<div class="media-body">
					<div class="row">
						<div class="col-xs-3">
							<h3>嫌疑犯名称</h3>
						</div>
						<div class="col-xs-9 text-right">
							<div class="row">
								<div class="col-xs-2 col-xs-offset-1 text-center" style="padding-left:0px;padding-right:0px">
									<h4>5人</h4>
									<p class="text-muted"><span class="glyphicon glyphicon-user"></span> 家庭成员</p>
								</div>
								<div class="col-xs-2 text-center" style="padding-left:0px;padding-right:0px">
									<h4>3起</h4>
									<p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> 关联案件</p>
								</div>
								<div class="col-xs-2 text-center" style="padding-left:0px;padding-right:0px">
									<h4>5台</h4>
									<p class="text-muted"><span class="glyphicon glyphicon-plane"></span> 关联车辆</p>
								</div>
								<div class="col-xs-2 text-center" style="padding-left:0px;padding-right:0px">
									<h4>9份</h4>
									<p class="text-muted"><span class="glyphicon glyphicon-file"></span> 关联文档</p>
								</div>
								<div class="col-xs-2 text-center" style="padding-left:0px;padding-right:0px">
									<h4>3人</h4>
									<p class="text-muted"><span class="glyphicon glyphicon-tag"></span> 标签信息</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="margin-top: 10px;">
						<div class="col-xs-6">
							<dl class="dl-horizontal">
							  <dt>姓名</dt>
							  <dd>张三</dd>
							</dl>
							<dl class="dl-horizontal">
							  <dt>性别</dt>
							  <dd>男</dd>
							</dl>
							<dl class="dl-horizontal">
							  <dt>年龄</dt>
							  <dd>30</dd>
							</dl>
							<dl class="dl-horizontal">
							  <dt>户籍</dt>
							  <dd>山东市花山镇20号楼31单元701房</dd>
							</dl>
							<dl class="dl-horizontal">
							  <dt>电话</dt>
							  <dd>18000223344</dd>
							</dl>
							<dl class="dl-horizontal">
							  <dt>邮箱</dt>
							  <dd>18000223344@qq.com</dd>
							</dl>
						</div>
						<div class="col-xs-6">
							<dl class="dl-horizontal">
							  <dt>现地址</dt>
							  <dd>山东市花山镇20号楼31单元701房</dd>
							</dl>
							<dl class="dl-horizontal">
							  <dt>民族</dt>
							  <dd>回族</dd>
							</dl>
							<dl class="dl-horizontal">
							  <dt>学历</dt>
							  <dd>高中</dd>
							</dl>
							<dl class="dl-horizontal">
							  <dt>毕业学校</dt>
							  <dd>第三中学</dd>
							</dl>
							<dl class="dl-horizontal">
							  <dt>身份证</dt>
							  <dd>44011119888880002</dd>
							</dl>
							<dl class="dl-horizontal">
							  <dt>QQ号码</dt>
							  <dd>80869005</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<h3 class="panel-title">关联案件</h3>
				</div>
				<div class="col-xs-9 text-right">
                                        <input type="file" name="suspect[calllist]" id="suspect_calllist_file">
                                          
					<a class="btn btn-link" onclick="submitFormWithImage('suspect_calllist_file')" >通话关系分析</a>
					<a class="btn btn-link">人际关系分析</a>
					<a class="btn btn-link">出行轨迹分析</a>
					<a class="btn btn-link">资金流转分析</a>
					<a class="btn btn-link">物流来往分析</a>
				</div>
			</div>
			
		</div>
		<div class="panel-body" style="padding-bottom: 0px; min-height: 96px;">
			<% 4.times do %>
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" data-src="#">
					</a>
					<div class="media-body">
						<h5 class="media-heading">案件名称 <span class="label label-danger">重要</span><span class='timer'>2017-05-03 13:56:00</span></h5>
						<p class="text-muted" style="font-size: 12px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object" data-src="#">
							</a>

							<div class="media-body">
								<h5 class="media-heading">用户名称</h5>
								<p class="text-muted well well-sm" style="font-size: 12px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
						</div>
					</div>
				</div>
		
			<% end %>
		</div>
	</div>
</div>


<div class="right_sidebar">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">家庭成员</h3>
		</div>
		<div class="panel-body" style="padding-bottom: 0px; min-height: 96px;">
			<% 4.times do %>
		
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" data-src="#">
					</a>
					<div class="media-body">
						<h5 class="media-heading">成员名称</h5	>
						<p class="text-muted" style="font-size: 12px;">关系,年龄,性别关系</p>
					</div>
				</div>
		
			<% end %>			
		</div>
		<div class="panel-heading">
			<h3 class="panel-title">关联车辆</h3>
		</div>
		<div class="panel-body" style="padding-bottom: 0px; min-height: 96px;">
			<% 4.times do %>
		
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" data-src="#">
					</a>
					<div class="media-body">
						<h5 class="media-heading">车牌号码</h5	>
						<p class="text-muted" style="font-size: 12px;">颜色,车型</p>
					</div>
				</div>
		
			<% end %>
		</div>
		<div class="panel-heading">
			<h3 class="panel-title">关联文档</h3>
		</div>
		<div class="panel-body" style="padding-bottom: 0px; min-height: 96px;">
			<% 8.times do %>
		
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" data-src="#">
					</a>
					<div class="media-body">
						<h5 class="media-heading">文档名称</h5	>
						<p class="text-muted" style="font-size: 12px;">级别,2017-05-03</p>
					</div>
				</div>
		
			<% end %>
		</div>				
	</div>
</div>
