<div class="jtk-surface jtk-surface-nopan" id="jsplumb_flowchart" style="display:none;width:100%;height:100%;overflow:auto;">
    <div class="window jtk-node" id="flowchartWindow1"><strong>1</strong><br/><br/></div>
    <div class="window jtk-node" id="flowchartWindow2"><strong>2</strong><br/><br/></div>
    <div class="window jtk-node" id="flowchartWindow3"><strong>3</strong><br/><br/></div>
    <div class="window jtk-node" id="flowchartWindow4"><strong>4</strong><br/><br/></div>
</div>
<div class="jtk-surface jtk-surface-nopan" id="jsplumb_statemachine" style="display:none;width:100%;height:100%;overflow:auto;">
    <div class="w" id="opened">BEGIN
        <div class="ep" action="begin"></div>
    </div>
    <div class="w" id="phone1">PHONE INTERVIEW 1
        <div class="ep" action="phone1"></div>
    </div>
    <div class="w" id="phone2">PHONE INTERVIEW 2
        <div class="ep" action="phone2"></div>
    </div>
    <div class="w" id="inperson">IN PERSON
        <div class="ep" action="inperson"></div>
    </div>
    <div class="w" id="rejected">REJECTED
        <div class="ep" action="rejected"></div>
    </div>
</div>
<div class="jtk-surface jtk-surface-nopan" id="jsplumb_draggable_connectors" style="display:none;width:100%;height:100%;overflow:auto;">
	<div class="window" id="dragDropWindow1">one<br/><br/>
		<a href="#" class="cmdLink hide" rel="dragDropWindow1">toggle connections</a><br/>
		<a href="#" class="cmdLink drag" rel="dragDropWindow1">disable dragging</a><br/>
		<a href="#" class="cmdLink detach" rel="dragDropWindow1">detach all</a>
	</div>
	<div class="window" id="dragDropWindow2">two<br/><br/>
		<a href="#" class="cmdLink hide" rel="dragDropWindow2">toggle connections</a><br/>
		<a href="#" class="cmdLink drag" rel="dragDropWindow2">disable dragging</a><br/>
		<a href="#" class="cmdLink detach" rel="dragDropWindow2">detach all</a>
	</div>
	<div class="window" id="dragDropWindow3">three<br/><br/>
		<a href="#" class="cmdLink hide" rel="dragDropWindow3">toggle connections</a><br/>
		<a href="#" class="cmdLink drag" rel="dragDropWindow3">disable dragging</a><br/>
		<a href="#" class="cmdLink detach" rel="dragDropWindow3">detach all</a>
	</div>
	<div class="window" id="dragDropWindow4">four<br/><br/>
		<a href="#" class="cmdLink hide" rel="dragDropWindow4">toggle connections</a><br/>
		<a href="#" class="cmdLink drag" rel="dragDropWindow4">disable dragging</a><br/>
		<a href="#" class="cmdLink detach" rel="dragDropWindow4">detach all</a>
	</div>
	<div id="list"></div>
</div>
<div class="jtk-surface jtk-surface-nopan" id="jsplumb_perimeter_anchors" style="display:none;width:100%;height:100%;overflow:auto;">
    <div class="shape" data-shape="Rectangle">Rectangle</div>
    <div class="shape" data-shape="Ellipse">Ellipse</div>
    <div class="shape" data-shape="Circle">Circle</div>
    <div class="shape" data-shape="Diamond">Diamond</div>
    <div class="shape" data-shape="Triangle" style="left:700px;top:380px;">Triangle</div>
    <div class="shape _90" data-shape="Triangle" data-rotation="90" style="left:60px;top:500px;">90&#176; rotation</div>
</div>
<div class="jtk-surface jtk-surface-nopan" id="jsplumb_hierachical_chart" style="display:none;width:100%;height:100%;overflow:auto;">
    <div class="window" id="chartWindow1">window one</div>
    <div class="window" id="chartWindow2">window two</div>
    <div class="window" id="chartWindow3">window three</div>
    <div class="window" id="chartWindow4">window four</div>
    <div class="window" id="chartWindow5">window five</div>
    <div class="window" id="chartWindow6">window six</div>
</div>
<div class="jtk-surface jtk-surface-nopan" id="jsplumb_sources_targets" style="display:none;width:100%;height:100%;overflow:auto;">
    <div class="window" id="sourceWindow1">
        <strong>Window 1</strong>
        <a href="#" id="enableDisableSource">disable</a>
    </div>
    <div class="window smallWindow" id="targetWindow2"><strong>Window 2</strong><a href="#" class="enableDisableTarget">disable</a><br/><br/></div>
    <div class="window smallWindow" id="targetWindow3"><strong>Window 3</strong><a href="#" class="enableDisableTarget">disable</a><br/><br/></div>
    <div class="window smallWindow" id="targetWindow4"><strong>Window 4</strong><a href="#" class="enableDisableTarget">disable</a><br/><br/></div>
    <div class="window smallWindow" id="targetWindow5"><strong>Window 5</strong><a href="#" class="enableDisableTarget">disable</a><br/><br/></div>
    <div class="window smallWindow" id="targetWindow6"><strong>Window 6</strong><a href="#" class="enableDisableTarget">disable</a><br/><br/></div>
</div>
<div class="jtk-surface jtk-surface-nopan" id="jsplumb_dynamic_anchors" style="display:none;width:100%;height:100%;overflow:auto;">
    <div class="window" id="dynamicWindow1"><strong>1</strong><br/><br/></div>
    <div class="window" id="dynamicWindow2"><strong>2</strong><br/><br/></div>
    <div class="window" id="dynamicWindow3"><strong>3</strong><br/><br/></div>
    <div class="window" id="dynamicWindow4"><strong>4</strong><br/><br/></div>
    <div class="window" id="dynamicWindow5"><strong>5</strong><br/><br/></div>
    <div class="window" id="dynamicWindow6"><strong>6</strong><br/><br/></div>
</div>
<div class="jtk-surface jtk-surface-nopan" id="jsplumb_animation" style="display:none;width:100%;height:100%;overflow:auto;">
    <div class="bigdot" id="bd1"></div>
    <div class="bigdot" id="bd2"></div>
    <div class="bigdot" id="bd3"></div>
    <div class="bigdot" id="bd4"></div>
</div>