<h5>圆形布局属性</h5>
<form class="form-horizontal">
  <div class="form-group form-group-sm">
    <label for="layout_circular_radius" class="col-xs-3 control-label">半径:</label>
    <div class="col-xs-9">
       <input type="text" size="3" class="form-control" id="layout_circular_radius" value="NaN" onchange="goTools.triggerCircularLayout()" />
       <span class="help-block">along X axis; NaN or &gt; 0</span>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <label for="layout_circular_aspectRatio" class="col-xs-3 control-label">Aspect Ratio:</label>
    <div class="col-xs-9">
       <input type="text" size="2" class="form-control" id="layout_circular_aspectRatio" value="1" onchange="goTools.triggerCircularLayout()" />
       <span class="help-block">1 is circular; &gt; 0</span>
    </div>
  </div>  
  <div class="form-group form-group-sm">
    <label for="layout_circular_startAngle" class="col-xs-3 control-label">起始角度:</label>
    <div class="col-xs-9">
       <input type="text" size="3" class="form-control" id="layout_circular_startAngle" value="0" onchange="goTools.triggerCircularLayout()" />
       <span class="help-block">angle at first element</span>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <label for="layout_circular_sweepAngle" class="col-xs-3 control-label">Sweep Angle:</label>
    <div class="col-xs-9">
       <input type="text" size="3" class="form-control" id="layout_circular_sweepAngle" value="360" onchange="goTools.triggerCircularLayout()" />
       <span class="help-block">degrees occupied; &gt;= 1, &lt;= 360</span>
    </div>
  </div> 
  <div class="form-group form-group-sm">
    <label for="layout_circular_spacing" class="col-xs-3 control-label">间距:</label>
    <div class="col-xs-9">
       <input type="text" size="2" class="form-control" id="layout_circular_spacing" value="6" onchange="goTools.triggerCircularLayout()" />
       <span class="help-block">actual spacing also depends on radius</span>
    </div>
  </div>      
  <div class="form-group form-group-sm" style="margin-bottom:10px;">
    <label for="layout_circular_arrangement" class="col-xs-3 control-label">对齐:</label>
    <div class="col-xs-9">
      <select name="layout_circular_arrangement" id="layout_circular_arrangement" class="form-control"  onchange="goTools.triggerCircularLayout()">
        <option value="ConstantDistance">ConstantDistance</option>
        <option value="ConstantAngle">ConstantAngle</option>
        <option value="ConstantSpacing" selected="selected">ConstantSpacing</option>
        <option value="Packed">Packed</option>
      </select>
    </div>
  </div>   
  <div class="form-group form-group-sm" style="margin-bottom:10px;">
    <label class="col-xs-3 control-label">节点直径:</label>
    <div class="col-xs-9">
      <label class="radio-inline">
        <input type="radio" name="layout_circular_diamFormula" value="Pythagorean" checked="checked" onclick="goTools.triggerCircularLayout()">
        Pythagorean
      </label>
       <label class="radio-inline">
        <input type="radio" name="layout_circular_diamFormula" value="RightToLeft" onclick="goTools.triggerCircularLayout()">
        Circular
      </label>
    </div>
  </div>  
  <div class="form-group form-group-sm" style="margin-bottom:10px;">
    <label for="layout_circular_direction" class="col-xs-3 control-label">方向:</label>
    <div class="col-xs-9">
      <select name="layout_circular_direction" id="layout_circular_direction" class="form-control"  onchange="goTools.triggerCircularLayout()">
        <option value="Clockwise" selected="selected">Clockwise</option>
        <option value="Counterclockwise">Counterclockwise</option>
        <option value="BidirectionalLeft">BidirectionalLeft</option>
        <option value="BidirectionalRight">BidirectionalRight</option>        
      </select>
    </div>
  </div> 
  <div class="form-group form-group-sm">
    <label for="layout_circular_sorting" class="col-xs-3 control-label">排序:</label>
    <div class="col-xs-9">
      <select name="layout_circular_sorting" id="layout_circular_sorting" class="form-control"  onchange="goTools.triggerCircularLayout()">
        <option value="Forwards" selected="selected">正向</option>
        <option value="Reverse">反向</option>
        <option value="Ascending">升序</option>
        <option value="Descending">反序</option>
        <option value="Optimized">优化</option>       
      </select>
      <span class="help-block">use "Optimized" to reduce the number of link crossings</span>
    </div>
  </div>        
</form>