<h5>力导向布局属性</h5>
<form class="form-horizontal">
  <div class="form-group form-group-sm" style="margin-bottom: 10px;">
    <label for="layout_forceDirected_maxIter" class="col-xs-3 control-label">Max Iterations:</label>
    <div class="col-xs-9">
       <input type="text" size="5" class="form-control" id="layout_forceDirected_maxIter" value="100" onchange="goTools.triggerForceDirectedLayout()">
    </div>
  </div>
  <div class="form-group form-group-sm" style="margin-bottom: 10px;">
    <label for="layout_forceDirected_epsilon" class="col-xs-3 control-label">Epsilon:</label>
    <div class="col-xs-9">
       <input type="text" size="5" class="form-control" id="layout_forceDirected_epsilon" value="1" onchange="goTools.triggerForceDirectedLayout()">
    </div>
  </div>  
  <div class="form-group form-group-sm" style="margin-bottom: 10px;">
    <label for="layout_forceDirected_infinity" class="col-xs-3 control-label">Infinity:</label>
    <div class="col-xs-9">
       <input type="text" size="5" class="form-control" id="layout_forceDirected_infinity" value="1000" onchange="goTools.triggerForceDirectedLayout()">
    </div>
  </div> 
  <div class="form-group form-group-sm" style="margin-bottom: 10px;">
    <label for="layout_forceDirected_arrangement" class="col-xs-3 control-label">ArrangementSpacing:</label>
    <div class="col-xs-9">
       <input type="text" size="8" class="form-control" id="layout_forceDirected_arrangement" value="100 100" onchange="goTools.triggerForceDirectedLayout()">
    </div>
  </div>    
  <b>Vertex Properties</b>
  <div class="form-group form-group-sm" style="margin-bottom: 10px;">
    <label for="layout_forceDirected_charge" class="col-xs-3 control-label">Electrical Charge:</label>
    <div class="col-xs-9">
       <input type="text" size="5" class="form-control" id="layout_forceDirected_charge" value="150" onchange="goTools.triggerForceDirectedLayout()">
    </div>
  </div> 
  <div class="form-group form-group-sm" style="margin-bottom: 10px;">
    <label for="layout_forceDirected_mass" class="col-xs-3 control-label">Gravitational Mass:</label>
    <div class="col-xs-9">
       <input type="text" size="5" class="form-control" id="layout_forceDirected_mass" value="0" onchange="goTools.triggerForceDirectedLayout()">
    </div>
  </div>  
  <b>Edge Properties</b>
  <div class="form-group form-group-sm" style="margin-bottom: 10px;">
    <label for="layout_forceDirected_stiffness" class="col-xs-3 control-label">Spring Stiffness:</label>
    <div class="col-xs-9">
       <input type="text" size="5" class="form-control" id="layout_forceDirected_stiffness" value="0.05" onchange="goTools.triggerForceDirectedLayout()">
    </div>
  </div> 
  <div class="form-group form-group-sm" style="margin-bottom: 10px;">
    <label for="layout_forceDirected_length" class="col-xs-3 control-label">Spring Length:</label>
    <div class="col-xs-9">
       <input type="text" size="5" class="form-control" id="layout_forceDirected_length" value="50" onchange="goTools.triggerForceDirectedLayout()">
    </div>
  </div>    
</form>