<div class="tools_main">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title row">
				<div class="col-xs-8">
					<label href="#">滚轮操作</label>
					<div class="btn-group btn-group-xs" role="group" aria-label="...">
						<button type="button" class="btn btn-default wheel-setter" data-behavior="scroll">平移</button>
						<button type="button" class="btn btn-default wheel-setter" data-behavior="zoom">缩放</button>
					</div>
					<label href="#">缩放控制</label>
					<div class="btn-group btn-group-xs" role="group" aria-label="...">
						<button type="button" class="btn btn-default scale-setter" data-scale-type="+">放大</button>
						<button type="button" class="btn btn-default scale-setter" data-scale-type="-">缩小</button>
					</div>
					<label href="#">布局方式</label>
					<div class="btn-group btn-group-xs" role="group" aria-label="...">
						<button type="button" class="btn btn-default layout-setter" data-layout="grid">网格</button>
						<button type="button" class="btn btn-default layout-setter" data-layout="tree">树形</button>
						<button type="button" class="btn btn-default layout-setter" data-layout="layeredDigraph">层次</button>
						<button type="button" class="btn btn-default layout-setter" data-layout="forceDirected">力导向</button>
						<button type="button" class="btn btn-default layout-setter" data-layout="circular">圆形</button>
						<button type="button" class="btn btn-default layout-setter" data-layout="default">自由</button>
					</div>
				</div>
				<div class="col-xs-4 text-right">
					<form class="hidden" enctype="multipart/form-data">
						<input type="file" class="hidden" id="field-data-import"/>
					</form>
					<a class="btn btn-link btn-xs" id="btn-data-import"><span class="fa fa-camera-retro" aria-hidden="true"></span> 数据导入</a>
					<a class="btn btn-link btn-xs"  @click="showModal=true"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> 数据保存</a>
					<a class="btn btn-link btn-xs" id="btn-image-export"><span class="glyphicon glyphicon-export" aria-hidden="true"></span> 导出图片</a>
				</div>
			</div>
		</div>
		<div class="panel-body" style="padding-bottom: 0px;">
			<div class="tab-content" style="width:100%;height:100%;overflow:auto;">
				<div role="tabpanel" class="tab-pane in active" id="tab_main_diagram_1" style="width:100%;height:100%">
					<div id="tools_main_diagram" style="width:100%; height:100%"></div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<modal v-show="showModal" @close="showModal = false">
			<h3 slot="header">保存数据</h3>
			<div slot="body">
				<div class="form-group">
					<label class="control-label">保存到本地
						<input type="radio" name='save-location' value='local'/>
					</label>
					<label  class="control-label">保存到服务器
						<input type="radio" name='save-location' value='server' checked/>
					</label>
				</div>
				<div id="div-save-title" class="form-group">
					<input id="text-save-title" type="text" class="form-control" placeholder="请输入存档名称"/>
				</div>
			</div>
			<div slot="footer">
				<button id="btn-data-save" class="btn btn-primary" @click="showModal=false">
					确定
				</button>
				<button class="btn btn-default" @click="showModal=false">
					取消
				</button>
			</div>
		</modal>
	</div>
</div>
