<div class="inner-panel-heading">
				<div class="panel-title">
					新建分析
				</div>
			</div>
			<div class="inner-panel-body">
				<div class="add-analysis-tool">
					<a class="add-analysis-item" href="<%= add_info_tools_path %>">
						<span class="aliconfont icon-relation"></span>
						<div class="mt5">通话关系</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-home"></span>
						<div class="mt5">银行交易</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-mony2"></span>
						<div class="mt5">资金流转</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-car2"></span>
						<div class="mt5">物流往来</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-mony"></span>
						<div class="mt5">消费情况</div>
					</a>
					<a class="add-analysis-item active" href="">
						<span class="aliconfont icon-person-pic"></span>
						<div class="mt5">人员画像</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-other"></span>
						<div class="mt5">其他</div>
					</a>
				</div>
			</div>
