<div class="tools-sidebar">
	<div id="tools-panel-sidebar" class="panel panel-default">
		<div class="panel-heading">
			<ul class="nav nav-tabs" role="tablist">
				<li class="active" role="presentation">
					<a href="#tab_diagram_operation" id="tab_link_operation" role="tab" data-toggle="tab" aria-controls="tab_diagram_operation" aria-expanded="true">操作</a>
				</li>
			</ul>
		</div>
		<div class="panel-body tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="tab_diagram_operation" aria-labelledby="home-tab">
				<form class="form-horizontal" role="form" onkeydown="if(event.keyCode==13)return false;">
					<div class='form-group'>
						<label class="control-label">频次筛选:</label>
					</div>
					<div class="form-group row-fluid">
						<div class="col-sm-6">
							<select class="form-control" id='fitler-method'>
								<option value="gt">大于</option>
								<option value="gte">大于等于</option>
								<option value="lt">小于</option>
								<option value="lte">小于等于</option>
								<option value="eq">等于</option>
								<option value="neq">不等于</option>
							</select>
						</div>
						<div class="col-sm-6">
							<select class="form-control col-sm-6" id='fitler-type'>
								<option value="renew">重新筛选</option>
								<option value="continuous">连续筛选</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" class="form-control" id="filter-feq" placeholder="输入频率"/>
						</div>
					</div>
					<div class="form-group">
						<div style="width:103.5px;margin:0 auto;">
							<button type="button" class="btn btn-primary" id="btn-filter-feq">筛选</button>
							<button type="button" class="btn btn-default" id="btn-reset-feq">还原</button>
						</div>
					</div>
					<div class='form-group'>
						<input type="checkbox" id="check-diaplay-max" data-labelauty="显示频率最大路径(取消所有选择)">
					</div>
					<div class='form-group'>
						<input type="checkbox" checked="checked" id="check-diaplay-connected" data-labelauty="显示相连路径(选择1个点)">
					</div>
					<div class='form-group'>
						<input type="checkbox" checked="checked" id="check-diaplay-between" data-labelauty="显示两点之间所有路径(选择2个点)">
					</div>
					<div class="form-group">
						<div class="btn-group">
							<button type="button" id="btn-hide-unselected" class="btn btn-primary">隐藏非选择</button>
							<button type="button" id="btn-show-unselected" class="btn btn-primary">还原隐藏</button>
						</div>
					</div>
					<div class="form-group">
						<div class="btn-group">
							<button type="button" id="btn-hide-unhlighted" class="btn btn-warning">隐藏非高亮</button>
							<button type="button" id="btn-show-unhlighted" class="btn btn-warning">还原隐藏</button>
						</div>
					</div>
					<div class="form-group">
						<div class="btn-group">
							<button type="button" id="btn-reset-all" class="btn btn-success">一键还原</button>
						</div>
					</div>
				</form>
			</div>
			<div id="tools-panel-overview" class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-4">
								<h3 class="panel-title">缩略图</h3>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div id="tools_main_overview"></div>
					</div>
				</div>
		</div>
	</div>
</div>
