<div class="bread-nav-wrap">
		<ul class="bread-nav clearfix">
			<li class="bread-nav-item home">
				<a class="link-item" href=""><span class="glyphicon glyphicon-home"></span></a>
			</li>
			<li class="bread-nav-item">
				<a class="link-item" href="">分析工具</a>
			</li>
			<li class="bread-nav-item">
				<a class="link-item" href="">新建分析</a>
			</li>
			<li class="bread-nav-item">
				<span class="link-item">手工导入</span>
			</li>
		</ul>
	</div>
	<!-- 路径导航 end -->
	<div class="left-side left-side-inverse column-18">
		<div class="left-side-heading">
			<div class="heading-title">
				<a class="pull-right small" href="">回首页</a>
				分类	
			</div>
			<div class="input-group">
				<input type="text" class="form-control" value="搜索">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button">
					搜
					</button>
				</span>
			</div>
		</div>
		<div class="left-side-btn-menu">
			<button class="btn btn-normal btn-block active" type="button">全部分类</button>	
			<button class="btn btn-normal btn-block" type="button">人际交往报告(10)</button>	
			<button class="btn btn-normal btn-block" type="button">出行轨迹报告(10)</button>	
			<button class="btn btn-normal btn-block" type="button">资金流转报告(10)</button>	
			<button class="btn btn-normal btn-block" type="button">物流往来报告(10)</button>	
			<button class="btn btn-normal btn-block" type="button">消费情况报告(9)</button>	
			<button class="btn btn-normal btn-block" type="button">人员只能画像(8)</button>	
			<button class="btn btn-normal btn-block" type="button">其他(9)</button>	
		</div>
	</div>
	<!-- left-side end -->
	<div class="container-18">
		<div class="panel panel-default clearfix">
			<div class="inner-panel-heading">
				<div class="panel-title">
					新建分析
				</div>
			</div>
			<div class="inner-panel-body">
				<div class="row">
					<form action="" class="">
						<div class="col-md-3">
							<label class="" for="">分析名称</label>
							<div class="mt5"><input class="form-control" type="text" value="张三通话分析"></div>
						</div>
						<div class="col-md-3">
							<label class="" for="">关联案件</label>
							<div class="mt5">
								<input class="form-control" type="text" value="117走私案">
							</div>
							
						</div> 
						<div class="col-md-5">
							<label class="" for="">通话时间区间</label>
							<div class="input-group mt5">
								<input class="form-control" type="text" value="2017-12-12">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar text-primary"></span>
								</span>
								<span class="input-group-addon no-bd">
									到
								</span>
								<input class="form-control" type="text" value="2017-12-12">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar text-primary"></span>
								</span>								
							</div>
								
							
						</div>
					</form>
				</div>
			</div>

 			<div class="inner-panel-subheading">
				<span class="inner-panel-subtitle">分析类型</span>
			</div>
			<div class="inner-panel-body">
				<div class="add-analysis-tool">
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-relation"></span>
						<div class="mt5">通话关系</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-home"></span>
						<div class="mt5">银行交易</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-mony2"></span>
						<div class="mt5">资金流转</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-car2"></span>
						<div class="mt5">物流往来</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-mony"></span>
						<div class="mt5">消费情况</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-person-pic"></span>
						<div class="mt5">人员画像</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-other"></span>
						<div class="mt5">其他</div>
					</a>
				</div>
			</div>
				
				
			<div class="inner-panel-subheading">
				<span class="inner-panel-subtitle">数据导入</span>
			</div>
			<div class="inner-panel-body">
				<ul class="sub-nav clearfix">
					<li class="sub-nav-item active">
						<a href="">手工导入</a>
					</li>
					<li class="sub-nav-item">
						<a href="">情报资料库</a>
					</li>
				</ul>
				<form action="">
					<div class="row block-mt">
						<div class="col-xs-3">
							<label for="">文件导入</label>	
							<div class="input-group mt5">
								<input class="form-control" type="text">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-folder-open text-primary"></span>									
								</span>
							</div>
						</div>
						<div class="col-xs-3">
							<label for="">
							<span class="text-primary aliconfont icon-dot1"></span>
							文件导入</label>	
							<select class="form-control mt5" name="" id="">
								<option value="">文件一</option>
								<option value="">文件二</option>
								<option value="">文件三</option>
							</select>
						</div>
						<div class="col-xs-3">
							<label for="">
							<span class="text-warning aliconfont icon-dot1"></span>
							被叫号码
							</label>	
							<select class="form-control mt5" name="" id="">
								<option value="">号码一</option>
								<option value="">号码二</option>
								<option value="">号码三</option>
							</select>
						</div>
					</div>
				</form>
				<div class="clearfix">
					<div class="pull-right mt15">
						<button class="btn btn-primary btn-sm">包括已选行</button>
						<button class="btn btn-default btn-sm ml10">排除已选行</button>
					</div>
					<ul class="nav nav-tabs block-mt">
					    <li class="active"><a href="#">sheet1</a></li>
					    <li><a href="#">sheet2</a></li>
					    <li><a href="#">sheet3</a></li>
					</ul>
				</div>
				
				<table class="table table-hover thead-bg block-mt">
					<tr>
						<th>
							<div class="checkbox-ui">
								<span class="aliconfont icon-checkbox"></span>
							</div>
						</th>
						<th>序号</th>
						<th class="text-primary">主号码</th>
						<th class="text-warning">对方号码</th>
						<th>通话时间</th>
						<th>信息来源</th>
					</tr>
					<tr>
						<td>
							<div class="checkbox-ui">
								<span class="aliconfont icon-checkbox active"></span>
								<input type="checkbox">
							</div>
						</td>
						<td>1</td>
						<td class="text-primary">1312403325</td>
						<td class="text-warning">1354325235</td>
						<td>2017-12-12</td>
						<td>通话记录</td>
					</tr>
					<tr>
						<td>
							<div class="checkbox-ui">
								<span class="aliconfont icon-checkbox"></span>
							</div>
						</td>
						<td>1</td>
						<td class="text-primary">1312403325</td>
						<td class="text-warning">1354325235</td>
						<td>2017-12-12</td>
						<td>通话记录</td>
					</tr>
					<tr>
						<td>
							<div class="checkbox-ui">
								<span class="aliconfont icon-checkbox"></span>
							</div>
						</td>
						<td>1</td>
						<td class="text-primary">1312403325</td>
						<td class="text-warning">1354325235</td>
						<td>2017-12-12</td>
						<td>通话记录</td>
					</tr>
				</table>
				<ul class="pagination"> 
					<li>
						<a href="#">
							<span>«</span>
						</a>
					</li>
					<li class="active">
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">
							<span>»</span>
						</a>
					</li>
				</ul>
				
				<div class="mt5">
					<button class="btn btn-primary btn-long">确定</button>
					<button class="btn btn-default btn-long ml10">取消</button>
				</div>
			</div>
		</div>
	</div>