<div class="bread-nav-wrap">
		<ul class="bread-nav clearfix">
			<li class="bread-nav-item home">
				<a class="link-item" href="/position_decisions/index"><span class="glyphicon glyphicon-home"></span></a>
			</li>
			<li class="bread-nav-item">
				<a class="link-item" href="<%= tools_home_path %>">分析工具</a>
			</li>
			<li class="bread-nav-item">
				<a class="link-item" href="">新建分析</a>
			</li>
			<li class="bread-nav-item">
				<span class="link-item">手工导入</span>
			</li>
		</ul>
	</div>
	<!-- 路径导航 end -->
	<%= render 'leftside', tools: @tools %>
	<!-- left-side end -->
	<div class="container-18">
		<div class="panel panel-default clearfix">
			<div class="inner-panel-heading">
				<div class="panel-title">
					新建分析
				</div>
			</div>
			<div class="inner-panel-body">
				<div class="row">
					<form action="" class="">
						<div class="col-md-3">
							<label class="" for="">分析名称</label>
							<div class="mt5"><input class="form-control" type="text" value="张三通话分析"></div>
						</div>
						<div class="col-md-3">
							<label class="" for="">关联案件</label>
							<div class="mt5">
								<input class="form-control" type="text" value="117走私案">
							</div>

						</div>
						<div class="col-md-5">
							<label class="" for="">通话时间区间</label>
							<div class="input-group mt5">
								<input class="form-control" type="text" value="2017-12-12">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar text-primary"></span>
								</span>
								<span class="input-group-addon no-bd">
									到
								</span>
								<input class="form-control" type="text" value="2017-12-12">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar text-primary"></span>
								</span>
							</div>


						</div>
					</form>
				</div>
			</div>

 			<div class="inner-panel-subheading">
				<span class="inner-panel-subtitle">分析类型</span>
			</div>
			<div class="inner-panel-body">
				<div class="add-analysis-tool">
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-relation"></span>
						<div class="mt5">通话关系</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-home"></span>
						<div class="mt5">银行交易</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-mony2"></span>
						<div class="mt5">资金流转</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-car2"></span>
						<div class="mt5">物流往来</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-mony"></span>
						<div class="mt5">消费情况</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-person-pic"></span>
						<div class="mt5">人员画像</div>
					</a>
					<a class="add-analysis-item" href="">
						<span class="aliconfont icon-other"></span>
						<div class="mt5">其他</div>
					</a>
				</div>
			</div>


			<div class="inner-panel-subheading">
				<span class="inner-panel-subtitle">数据导入</span>
			</div>
			<div class="inner-panel-body">
				<ul class="sub-nav clearfix">
					<li class="sub-nav-item active">
						<a href="<%= tools_add_manual_path %>">手工导入</a>
					</li>
					<li class="sub-nav-item">
						<a href="<%= tools_add_info_path %>">情报资料库</a>
					</li>
				</ul>
				<form id = "read_from_excel" action="/calllists/process_excel" enctype="multipart/form-data" method="post">
					<div class="row block-mt">
						<div class="col-xs-3">
							<label for="">文件导入</label>
							<div class="input-group mt5">
								<input id='file_name_wrap' class="form-control" type="text" readonly="readonly">
								<input id='upload_excel_field' class="hidden" name="excel_call_list" type="file" onchange="import_calllist_from_excel()">
								<span class="input-group-addon" onclick="$('#upload_excel_field').click();">
									<span class="glyphicon glyphicon-folder-open text-primary"></span>
								</span>
							</div>
						</div>
						<div class="col-xs-3">
							<label for="">
							<span class="text-primary aliconfont icon-dot1"></span>
							主叫号码</label>
							<select class="form-control mt5" name="" id="from_selector">
                <option value=""></option>
							</select>
						</div>
						<div class="col-xs-3">
							<label for="">
							<span class="text-warning aliconfont icon-dot1"></span>
							被叫号码
							</label>
							<select class="form-control mt5" name="" id="to_selector">
								<<option value=""></option>
							</select>
						</div>
					</div>
				</form>
				<div class="clearfix">
					<div class="pull-right mt15">
						<button class="btn btn-primary btn-sm">包括已选行</button>
						<button class="btn btn-default btn-sm ml10">排除已选行</button>
					</div>
					<ul class="nav nav-tabs block-mt">
					    <li class="active"><a href="#">sheet1</a></li>
					    <!-- <li><a href="#">sheet2</a></li>
					    <li><a href="#">sheet3</a></li> -->
					</ul>
				</div>

				<table class="table table-hover thead-bg block-mt" id="calllist_table">
					<tr>
						<th>
							<div class="checkbox-ui">
								<span class="aliconfont icon-checkbox active" onclick='changeAllSelectStatus()'></span>
							</div>
						</th>
						<th>序号</th>
						<th class="text-primary">主号码</th>
						<th class="text-warning">对方号码</th>
						<th>通话时间</th>
						<th>信息来源</th>
					</tr>
					<!-- <tr>
						<td>
							<div class="checkbox-ui">
								<span class="aliconfont icon-checkbox active"></span>
								<input type="checkbox">
							</div>
						</td>
						<td>1</td>
						<td class="text-primary">1312403325</td>
						<td class="text-warning">1354325235</td>
						<td>2017-12-12</td>
						<td>通话记录</td>
					</tr> -->

				</table>
				<!-- <ul class="pagination">
					<li>
						<a href="#">
							<span>«</span>
						</a>
					</li>
					<li class="active">
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">
							<span>»</span>
						</a>
					</li>
				</ul> -->

				<div class="mt5">
					<button class="btn btn-primary btn-long" onclick="$('#read_from_excel').submit()">确定</button>
					<button class="btn btn-default btn-long ml10">取消</button>
				</div>
			</div>
		</div>
	</div>
