<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ng2-admin</title>
  <link rel="stylesheet" href="/assets/roboto-fontface/css/roboto/roboto-fontface.css"/>
  <link rel="stylesheet" href="/assets/normalize.css/normalize.css"/>
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css"/>
  <link rel="stylesheet" href="/assets/ionicons/css/ionicons.css"/>
  <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="/assets/leaflet/dist/leaflet.css"/>
  <link rel="stylesheet" href="/assets/chartist/dist/chartist.css"/>
  <link rel="stylesheet" href="/assets/fullcalendar/dist/fullcalendar.css"/>
  <link rel="stylesheet" href="/assets/handsontable/dist/handsontable.full.css"/>
  <link rel="stylesheet" href="/assets/ng2-slim-loading-bar/style.css"/>

</head>

<body>
  <app>
  </app>

  <div id="preloader">
    <div></div>
  </div>
  <script type="text/javascript" src="/assets/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/assets/easy-pie-chart/dist/jquery.easypiechart.js"></script>
  <script type="text/javascript" src="/assets/jquery-slimscroll/jquery.slimscroll.js"></script>
  <script type="text/javascript" src="/assets/tether/dist/js/tether.js"></script>
  <script type="text/javascript" src="/assets/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="/assets/handsontable/dist/handsontable.full.js"></script>
  <script type="text/javascript" src="/assets/chroma-js/chroma.js"></script>
  <%= javascript_pack_tag 'angular-blur' %>
</body>

</html>
