<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">嫌疑犯<a href="#" class="pull-right">更多</a></h3>
			</div>
			<div class="panel-body" style="padding-bottom: 0px; min-height: 96px">
				<% 6.times do %>
				<div class="col-xs-2" style="padding-left:0px;padding-right:0px">
					<div class="thumbnail">
						<img data-src="#" alt="" style="height:94px;background: lightblue;">
						<div class="caption">
							<p>嫌疑犯</p>
						</div>
					</div>
				</div>
				<% end %>
			</div>
			<div class="panel-heading">
				<h3 class="panel-title">嫌疑团伙<a href="#" class="pull-right">更多</a></h3>
			</div>
			<div class="panel-body" style="min-height: 87px;">
				<% 4.times do %>
				<div class="col-xs-3" style="padding-left:0px;padding-right:0px">
					<div class="thumbnail">
						<img data-src="#" alt="" style="height:70px;background: lightblue;">
						<div class="caption">
							<p>嫌疑团伙</p>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">案件<a href="#" class="pull-right">更多</a></h3>
			</div>
			<div class="panel-body" style="min-height:219px;">
				<% 2.times do %>
				<div class="col-xs-6" style="padding-left:0px;padding-right:0px;margin-bottom: 10px">
					<div class="thumbnail">
						<img data-src="#" alt="" style="height:95px;background: lightblue;">
						<div class="caption">
							<p>案件</p>
						</div>
					</div>
				</div>
				<% end %>
				
				<% 2.times do %>
				<div class="col-xs-6" style="padding-left:0px;padding-right:0px;">
					<div class="thumbnail">
						<img data-src="#" alt="" style="height:95px;background: lightblue;">
						<div class="caption">
							<p>案件</p>
						</div>
					</div>
				</div>
				<% end %>				
			</div>
		</div>
	</div>

	<div class="col-md-7">
		<div class="row">
			<div class="col-xs-6" style="padding-left:0px;">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">人际关系分析<a href="#" class="pull-right">更多</a></h3>
					</div>
					<div class="panel-body" style="min-height:219px;">
						<% 2.times do %>
						<div class="col-xs-6" style="padding-left:0px;padding-right:0px;margin-bottom:10px">
							<div class="thumbnail">
								<img data-src="#" alt="" style="height:95px;background: lightblue;">
								<div class="caption">
									<p>人际关系</p>
								</div>
							</div>
						</div>
						<% end %>
						<% 2.times do %>
						<div class="col-xs-6" style="padding-left:0px;padding-right:0px;">
							<div class="thumbnail">
								<img data-src="#" alt="" style="height:95px;background: lightblue;">
								<div class="caption">
									<p>人际关系</p>
								</div>
							</div>
						</div>
						<% end %>
					</div>
				</div>		
			</div>

			<div class="col-xs-6" style="padding-left:0px">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">出行轨迹分析<a href="#" class="pull-right">更多</a></h3>
					</div>
					<div class="panel-body" style="min-height:219px;">
						<% 2.times do %>
						<div class="col-xs-6" style="padding-left:0px;padding-right:0px;margin-bottom:10px">
							<div class="thumbnail">
								<img data-src="#" alt="" style="height:95px;background: lightblue;">
								<div class="caption">
									<p>出行轨迹</p>
								</div>
							</div>
						</div>
						<% end %>
						<% 2.times do %>
						<div class="col-xs-6" style="padding-left:0px;padding-right:0px;">
							<div class="thumbnail">
								<img data-src="#" alt="" style="height:95px;background: lightblue;">
								<div class="caption">
									<p>出行轨迹</p>
								</div>
							</div>
						</div>
						<% end %>
					</div>
				</div>	
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6" style="padding-left:0px;">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">资金流转分析<a href="#" class="pull-right">更多</a></h3>
					</div>
					<div class="panel-body" style="min-height:219px;">
						<% 1.times do %>
						<div class="col-xs-12" style="padding-left:0px;padding-right:0px;margin-bottom:10px">
							<div class="thumbnail">
								<img data-src="#" alt="" style="height:95px;background: lightblue;">
								<div class="caption">
									<p>资金流转</p>
								</div>
							</div>
						</div>
						<% end %>
						<% 1.times do %>
						<div class="col-xs-12" style="padding-left:0px;padding-right:0px;">
							<div class="thumbnail">
								<img data-src="#" alt="" style="height:95px;background: lightblue;">
								<div class="caption">
									<p>资金流转</p>
								</div>
							</div>
						</div>
						<% end %>
					</div>
				</div>	
			</div>

			<div class="col-xs-6" style="padding-left:0px">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">物流来往分析<a href="#" class="pull-right">更多</a></h3>
					</div>
					<div class="panel-body" style="min-height:219px;">
						<% 1.times do %>
						<div class="col-xs-12" style="padding-left:0px;padding-right:0px;margin-bottom:10px">
							<div class="thumbnail">
								<img data-src="#" alt="" style="height:95px;background: lightblue;">
								<div class="caption">
									<p>物流来往</p>
								</div>
							</div>
						</div>
						<% end %>
						<% 1.times do %>
						<div class="col-xs-12" style="padding-left:0px;padding-right:0px;">
							<div class="thumbnail">
								<img data-src="#" alt="" style="height:95px;background: lightblue;">
								<div class="caption">
									<p>物流来往</p>
								</div>
							</div>
						</div>
						<% end %>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>