{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    ["es2015", {"modules": false}],
    "stage-2",
    "angular2",
    "react"
  ],
  "plugins": ["transform-runtime", "transform-decorators-legacy"]
}
