<!DOCTYPE html>
<html>
  <head>
    <title>查看图片</title>
    <%= javascript_include_tag "from_assets_pipeline" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application" %>
  </head>
  <body>
    <div id='image-views-index-app' style='height:100%'>
      <app :images='images'></app>
    </div>
  </body>
</html>
