<div class="bread-nav-wrap">
  <ul class="bread-nav clearfix">
    <li class="bread-nav-item home">
      <a class="link-item" href="">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </li>
    <li class="bread-nav-item even">
      <a class="link-item" href="">战法管理</a>
    </li>
    <li class="bread-nav-item even">
      <a class="link-item" href="">选取封面</a>
    </li>
  </ul>
</div>
<div id="tactics-edit-covers-app">
  <app ></app>
</div>
