<div class="view home-view">
  <div class="container">
    <h2>Yo! Another todo list</h2>
    <p><em>add todos using the form below.</em></p>
    <hr/>
    <div class="row">
      <div class="col-lg-7 col-md-7 col-xs-7">
        <input type="text" class="list-item" name="list-item" />
      </div>
      <div class="col-lg-5 col-md-5 col-xs-5">
        <div class="btn btn-primary add-btn">Add todo</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-7 col-xs-7">
        <ol></ol>
      </div>
    </div>
  </div>
</div>
</div>
