<%= form_with(model: position_decision, local: true) do |form| %>
  <% if position_decision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position_decision.errors.count, "error") %> prohibited this position_decision from being saved:</h2>

      <ul>
      <% position_decision.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
