  <div class="bread-nav-wrap">
    <ul class="bread-nav clearfix">
      <li class="bread-nav-item home">
        <a class="link-item" class="link-item" href=""><span class="glyphicon glyphicon-home"></span></a>
      </li>
      <li class="bread-nav-item">
        <span class="link-item" href="">决策岗</span>
      </li>
    </ul>
  </div>
  <!-- 路径导航 end -->
  <div class="block-mtb">
    <div class="clearfix">
      <div class="col-md-4">
         <%= render 'sideleft', position_decision: @position_decision  %>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="inner-panel-heading">
            <span class="panel-title">近期案件统计</span>
          </div>
          <div class="panel-body">
            <div style="width:100%; height: 180px;">
              <%= image_tag("chart1.png")%>
            </div>
          </div>
        </div>
        <div class="panel panel-default block-mt">
          <div class="inner-panel-heading">
            <span class="panel-title">案件态势分析及预测</span>
          </div>
          <div class="panel-body">
            <div style="width: 100%; height: 180px;">
              <%= image_tag("chart2.png")%>
            </div>
          </div>
        </div>
        <div class="panel panel-default block-mt">
          <div class="panel-heading">
            <span class="panel-title">精准缉私、缉毒库</span>
          </div>
          <div class="block-plr">
            <div class="img-column clearfix">
              <div class="col-xs-3 block-mb">
                <a class="primary-cup-block" href="">
                  <div class="f14 name">汽车走私特征库</div>
                  <div>
                    <span class="f20 num">1000</span>
                    <span class="text-gray">例</span>
                  </div>
                </a>
              </div>
              <div class="col-xs-3 block-mb">
                <a class="primary-cup-block" href="">
                  <div class="f14 name">汽车走私特征库</div>
                  <div>
                    <span class="f20 num">1000</span>
                    <span class="text-gray">例</span>
                  </div>
                </a>
              </div>
              <div class="col-xs-3 block-mb">
                <a class="primary-cup-block" href="">
                  <div class="f14 name">汽车走私特征库</div>
                  <div>
                    <span class="f20 num">1000</span>
                    <span class="text-gray">例</span>
                  </div>
                </a>
              </div>
              <div class="col-xs-3 block-mb">
                <a class="primary-cup-block" href="">
                  <div class="f14 name">汽车走私特征库</div>
                  <div>
                    <span class="f20 num">1000</span>
                    <span class="text-gray">例</span>
                  </div>
                </a>
              </div>
              <div class="col-xs-3 block-mb">
                <a class="primary-cup-block" href="">
                  <div class="f14 name">汽车走私特征库</div>
                  <div>
                    <span class="f20 num">1000</span>
                    <span class="text-gray">例</span>
                  </div>
                </a>
              </div>
              <div class="col-xs-3 block-mb">
                <a class="primary-cup-block" href="">
                  <div class="f14 name">汽车走私特征库</div>
                  <div>
                    <span class="f20 num">1000</span>
                    <span class="text-gray">例</span>
                  </div>
                </a>
              </div>
              <div class="col-xs-3 block-mb">
                <a class="primary-cup-block" href="">
                  <div class="f14 name">汽车走私特征库</div>
                  <div>
                    <span class="f20 num">1000</span>
                    <span class="text-gray">例</span>
                  </div>
                </a>
              </div>
              <div class="col-xs-3 block-mb">
                <a class="primary-cup-block" href="">
                  <div class="f14 name">汽车走私特征库</div>
                  <div>
                    <span class="f20 num">1000</span>
                    <span class="text-gray">例</span>
                  </div>
                </a>
              </div>


            </div>
          </div>
        </div>
      </div>

    </div>
</div>
