<!-- 综合搜索表单  -->
<%= form_tag("/resources/search", method: "get",class: "input-group") do %>
  <%= text_field_tag("key","",class: "form-control",:placeholder => '搜索')  %>
	<span class="input-group-btn">

		<button class="btn btn-primary" type="button">
			<span class="glyphicon glyphicon-search"></span>
		</button>

     </span>
       <%= hidden_field_tag 'type', 'doc' %>
<% end %>