<div class="left-side-btn-menu">
			<a href="" class="btn btn-normal btn-block" type="button">情报资料库</a>	
			<a href="" class="btn btn-normal btn-block" type="button">文档库</a>	
			<a href="" class="btn btn-normal btn-block active" type="button">图片库</a>	
			<a href="" class="btn btn-normal btn-block" type="button">视频库</a>	
		</div>