.excel_main{
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.excel_main .panel{
	height: 100%;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	border-right: none;
}
.excel_main .panel-body{
	height: 100%;
	overflow: hidden;
	padding: 0;
	background-color: #DAE4E4;
}