#tactics-flow-palette{
  width:12%;
  height:600px;
  background-color:white;
  border: 1px solid #8AC8F0 ;
  float:left;
}
#tactics-flow-container{
  width:88%;
  height:600px;
  background-color:#E8E8E8;
  float:left;
  -moz-box-shadow:5px 5px 15px 2px gray;
  //Safariand Google chrome10.0-
  -webkit-box-shadow:5px 5px 15px 2px gray;
  //Firefox4.0+、 Google chrome 10.0+ 、 Oprea10.5+ and IE9
  box-shadow:5px 5px 15px 2px gray;
}
