#tactics-flow-palette{
  width:10%;
  height:620px;
  background-color:white;
  border:1px solid #eee;
  float:left;
}
#tactics-flow-container{
  width:70%;
  height:620px;
  background-color:#E8E8E8;
  float:left;
}

#tactics-flow-info{
  width:20%;
  height:620px;
  float:left;
  border:1px solid #eee;
}
