.mt5{
  margin-top: 5px;
}
.mt10{
  margin-top: 10px;
}
#tactics-flow-palette {
  width: 9%;
  height: 590px;
  background-color: white;
  border: 1px solid #eee;
  float: left;
}

#tactics-flow-container {
  width: 71%;
  height: 590px;
  background-color: #E8E8E8;
  float: left;
}

#tactics-flow-info {
  width: 20%;
  height: 590px;
  float: left;
  border: 1px solid #eee;
  padding: 10px 15px 0;
}

#tactics-flow-info form {
  padding: 0 20px;
}

#flowchart-toolsbar {
  width: 100%;
  height: 35px;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  line-height: 35px;
  text-align: left;
}

#flowchart-toolsbar > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

#flowchart-toolsbar > ul > li {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 0 8px;
  margin: 0 2px;
}

#flowchart-toolsbar > ul > .active {
  background-color: #478DE0;
}

#body-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#data-adjust-panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 999;
  background-color: rgba(255,255,255,1);
  border: 1px solid #eee;
  display: table;
}

#data-adjust-panel > .inner-options {
  padding-left: 5px;
  display: table-cell;
  vertical-align: middle;
}

#data-adjust-panel > .close {
  position: absolute;
  right: 8px;
  top: 5px;
}

.color-card {
  width: 30px;
  height: 30px;
  margin: 2px;
  float: left;
}

.color-input {
  height: 30px;
  margin: 2px;
  float: left;
}

.color-input label {
  line-height: 30px;
  margin-left: 5px;
}

#wrap-btn-new-tactic {
  position: fixed;
  bottom: 0;
  width: 180px;
}

#btn-new-tactic {
  border-radius: 0 !important;
  font-weight: bold;
}

#new-tactic-modal .case-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

#new-tactic-modal .case-item {
  float: left;
  background-color: rgb(221, 221, 221);
  margin: 2px;
  padding-left: 12px;
}

#new-tactic-modal .case-view {
  display: inline-block;
}

.div-success {
  background-color: green;
}

.div-danger {
  background-color: red;
}

.div-primary {
  background-color: blue;
}

.div-gray {
  background-color: gray;
}

.div-lightgreen {
  background-color: #79C900;
}

.div-orange {
  background-color: #DC3C00;
}

.color-card-flat {
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 2px 2px 0 0;
  text-align: center;
  float: left;
  color: white;
}

.zoom {
  display: inline-block;
  position: relative;
}

.zoom img {
  display: block;
}

#progress-container-wrap {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

#progress-left-container {
  width: 49%;
  position: relative;
  float: left;
}

#progress-right-container {
  width: 50%;
  position: relative;
  float: right;
}
#flowchart-image-wrap{
   margin-top: 5px;
   border:1px solid lightblue;
}
#search-modal-wrap .user-selected-label{
  margin:2px;
  padding-left:12px;
  border-radius:4px;
  background-color:#DDDDDD;
}
#search-modal-wrap .user-search-result-list{
  padding:4px;
  width:100%;
  margin-top:2px;
  border-top:1px solid lightgray
}
#search-modal-wrap .user-search-result-text{
  font-size:20px;
  text-align:center;
  width:92%
}
#search-modal-wrap .user-search-result-btn{
  width: 7%;
}
