.tools-sidebar {
	height: 100%;
	width: 300px;
	position: absolute;
	top: 50;
	right: 0;
	z-index: 1;
}

.tools-sidebar .panel {
	margin-bottom: 0;
	padding-top: 38px;
	padding-bottom: 0;
	position: relative;
	border-bottom: 0;
	border-right: 0;
}

.tools-sidebar .panel-heading {
	position: absolute;
	top: 0;
	width: 100%;
}

.tools-sidebar .panel-default .panel-heading {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
}

.tools-sidebar .panel-body {
	height: 100%;
	padding: 0;
	overflow: auto;
}

#tools-panel-sidebar {
	height: 100%;
}

#tools-panel-sidebar > .panel-heading {
	padding: 0;
	margin: 0;
}

#tools-panel-sidebar > .panel-body {
	padding-bottom: 0;
}

#tools-panel-sidebar > .panel-heading .nav-tabs {
	border-bottom: 0;
	margin-top: -1px;
}

#tools-panel-sidebar > .panel-heading .nav-tabs > li > a {
	border-radius: 0;
}

#tools-panel-sidebar > .panel-body > .tab-pane {
	width: 100%;
	height: 70%;
	overflow: auto;
}

#tab_diagram_operation {
	padding: 0 24px;
}

#tools-panel-overview {
	width: 100%;
	height: 30%;
	overflow: auto;
}

#tools_main_overview {
	height: 100%;
	width: 100%;
	padding-bottom: 0;
	background-color: #eee;
}

.tools_main {
	height: 100%;
	padding-left: 32px;
	padding-right: 300px;
	position: absolute;
	top: 50;
	left: 0;
	right: 0;
}

.tools_main .panel {
	height: 100%;
	margin-bottom: 0;
	padding-top: 38px;
	padding-bottom: 0;
	position: relative;
	border-right: none;
}

.tools_main .panel-heading {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 4;
}

.tools_main .panel-default .panel-heading {
	border-bottom: 1px solid #ddd;
	padding-top: 5px;
	padding-bottom: 6px;
}

.tools_main .panel-default .panel-heading label {
	padding-left: 10px;
	font-size: 12px;
}

.tools_main .panel-body {
	height: 100%;
	overflow: auto;
	padding: 0;
	background-color: #DAE4E4;
}

.tools_menus_vertical {
	height: 100%;
	position: absolute;
	top: 60px;
	left: 0;
	bottom: 0;
	width: 33px;
	background-color: white;
	border-right: 1px solid rgb(204, 204, 204);
	z-index: 3;
}

.tools_menus_vertical .btn-group-vertical > .btn {
	border-left: 0;
	border-right: 0;
}

.tools_menus_vertical .btn-group-vertical > .btn:first-child,
.tools_menus_vertical .btn-group-vertical > .btn:last-child {
	border-radius: 0;
}
