/*
********注意引入文件的顺序防止样式被覆盖***************
*
*= reruire bootstrap-sprockets
*= require mystyle
*= require position_decisions_sideleft
*= require_tree ./controllers
*= require font-awesome
*= require bootstrap-datepicker
*= require jquery-labelauty
*/

/**
 * @author Chh 
 * @desc 覆盖application.html.erb页样式
 */
.wrap--chh {
	min-width: 0;
	overflow: hidden;
}

.navbar--chh {
	z-index: 9999;
	height: auto;
}

@media (max-width: 767px) {
	.navbar-collapse {
		background-color: #3D4861;
	}
}


/*
 * 全局样式，important!
 */
.table, .table th {
  text-align: center;
}
hr{
  margin-left:0;
  margin-right:0;
}
.datepicker.datepicker-dropdown.dropdown-menu{
  background-color: white !important;
}
.blk{
  display:block;
}
.il-blk{
  display: inline-block;
}
.btn-close{
  background-color: #dddddd;
}

/* 
 * vue 
 * 元素编译完成之前不显示，防止闪烁或者出现花括号
 */
[v-cloak] {
  display:none !important;
}
