/*
********注意引入文件的顺序防止样式被覆盖***************
*
*= require mystyle
*= require_tree ./controllers
*= require font-awesome
*= require bootstrap-datepicker
*= require jquery-labelauty
*/


/**
 * @author Terry Chan 
 * @desc 修复因为顶部导航的固定高度，造成度展开错误的bug
 */
.navbar--chh {
	height: auto;
}

@media (max-width: 767px) {
	.navbar-collapse {
		background-color: #3D4861;
	}
}

/*
 * 全局样式，important!
 */
.table, .table th {
  text-align: center;
}
hr{
  margin-left:0;
  margin-right:0;
}
.datepicker.datepicker-dropdown.dropdown-menu{
  background-color: white !important;
}
.blk{
  display:block;
}
.il-blk{
  display: inline-block;
}
.btn-close{
  background-color: #dddddd;
}

/* 
 * vue 
 * 元素编译完成之前不显示，防止闪烁或者出现花括号
 */
[v-cloak] {
  display:none !important;
}
.label{
  padding: .2em .6em .2em;
}
