/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's 
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require bootstrap-static
 *= require_self
 */
 body{
 	padding-top: 70px;
 }
.panel-default{
	border-radius: 0px;
}
.panel-default .panel-heading{
	background: #ffffff;
	border-bottom: none;
}
.panel-default .panel-heading h3{
	font-weight: normal;
}
.panel-default .panel-heading .pull-right{
	font-size: 12px;
	line-height: 20px;
	vertical-align: middle;
	color: lightgray;
}
.panel-default .panel-body{
	padding-top: 0;
}
.panel-default .thumbnail{
	margin-bottom: 0;
	padding: 1px;
	border: 0px;
}
.panel-default .thumbnail img{
	width:100%;
	border:none;
}
.panel-default .thumbnail .caption{
	position: absolute;
	bottom: 2px;
	left: 2px;
	right: 2px;
	padding: 0px;
}
.panel-default .thumbnail .caption p{
	margin-bottom: 0px;
	text-align: center;
	background: rgba(0, 0, 0, 0.1);
	color: white;
	font-size: 12px;
}