// Place all the styles related to the tools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tools_sidebar{
	height: 100%;
	width: 300px;
	margin-right: 15px;
	position: absolute;
	top: 0;
	right: 0;
	z-index:1;
}
.tools_sidebar .panel{
	height: 33%;
	margin-bottom: 0px;
	padding-top: 38px;
	padding-bottom: 0px;
	position: relative;
	border-bottom: 0px;
	border-right: 0px;
}
.tools_sidebar .panel-heading{
	position: absolute;
	top: 0;
	width: 100%;
    z-index: 3;
}
.tools_sidebar .panel-default .panel-heading{
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}
.tools_sidebar .panel-default .panel-heading .dropdown-margin-top{
	margin-top: -5px;
}
.tools_sidebar .panel-default .panel-heading .nav-tabs{
	border-bottom: 0;
	margin-top: -1px;
}
.tools_sidebar .panel-default .panel-heading .nav-tabs > li > a {
	border-radius: 0;
}
.tools_sidebar .panel-default .panel-heading .nav-tabs > li.active > a, 
.tools_sidebar .panel-default .panel-heading .nav-tabs > li.active > a:hover, 
.tools_sidebar .panel-default .panel-heading .nav-tabs > li.active > a:focus {
	
}
.tools_sidebar .panel-body{
	height: 100%;
	padding: 0;
	overflow: auto;
}
.tools_sidebar .panel-body .tab-pane{
	height: 100%;
	width: 100%;
	overflow: auto;
}

.tools_main{
	height: 100%;
	padding-left: 47px;
	padding-right: 315px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.tools_main .panel{
	height: 100%;
	margin-bottom: 0px;
	padding-top: 38px;
	padding-bottom: 0px;
	position: relative;
	border-right: none;
}
.tools_main .panel-heading{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 4;
}
.tools_main .panel-default .panel-heading{
    border-bottom: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 6px;
}
.tools_main .panel-default .panel-heading label{
	padding-left: 10px;
	font-size: 12px;
}
.tools_main .panel-body{
	height: 100%;
	overflow: auto;
}

.tools_search{
	position: absolute;
	bottom: 0px;
	left: 70px;
	width: 400px;
	z-index: 2;
	display: none;
}
.tools_search .panel{
	position: relative;
}
.tools_search #pushpin{
	position: absolute;
	left: 5px;
	top: -10px;
	z-index: 3;
}
.tools_search .panel-body{
	padding: 0;
}
.tools_search .panel-body .navbar-form{
	margin: 0;
	padding: 0;
}
.tools_search .panel-body .navbar-form .input-group{
	width: 100%;
}
.tools_search .panel-body .navbar-form .input-group input{
	border-width: 0px;
}

.tools_menus_vertical{
	height: 100%;
	padding-left: 15px;
	position: absolute;
	top: 0px;
	left: 0;
	bottom: 0;
	width: 48px;
	background-color: white;
	border-right: 1px solid rgb(204, 204, 204);
	z-index: 3;
}
.tools_menus_vertical .btn-group-vertical > .btn{
	border-left: 0;
	border-right: 0;
}
.tools_menus_vertical .btn-group-vertical > .btn:first-child,
.tools_menus_vertical .btn-group-vertical > .btn:last-child{
	border-radius: 0;
}