<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="react todo list of poplark">
  <meta name="keywords" content="react,todo">
  <title>React todo list</title>
  <style type="text/css">
    .edit {
      display: none;
    }
    .editing .view {
      display: none;
    }
    .editing .edit {
      display: inline-block;
    }
  </style>
</head>
<body>
  <div id="root"></div>
  <%= javascript_pack_tag 'todomvc_react' %>
</body>
</html>