form {
  display: inline-block;
}

input {
  font-size: 16px;
  padding: 4px 15px 4px 5px;
}

ol {
  padding-left: 20px;
}

ol li {
  padding: 5px;
  color: #000;
  font-size: 16px;
}

ol li:nth-child(even) {
  background: #dfdfdf;
}

.strike {
  text-decoration: line-through;
}

li:hover {
  cursor: pointer;
}
